[Desktop Entry]
Version=1.0
Type=Application
Name=Translator
Comment=A translation application
Icon=com.tcs.translator
Exec=translator
Terminal=false
Categories=Office;Utility;
Keywords=translation;language;
StartupWMClass=translator
StartupNotify=true
